.btn-container {
    display: flex;
    background-color: #FFC700;
    justify-content: center;
}


.btn h6 {
    padding-top: 5px;
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
}