.btn-container {
    display: flex;
    background-color: #FFC700;
    justify-content: center;
    border-radius: 4px;
}

.btn {
    flex: 1;
    border: none;
}


.btn:hover {
    border: none;
}

.btn h6 {
    padding-top: 5px;
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
}